<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<br />
  <div class="row">
    <div class="small-4 columns">
    <%= f.label :username, class:"form_text" %>
    <%= f.text_field :username, autofocus: true %>
  </div>
</div>
<br />
<div class="row">
  <div class="small-4 columns">
    <%= f.label :email, class:"form_text" %>
    <%= f.email_field :email %>
  </div>
</div>
<br />
<div class="row">
  <div class="small-4 columns">
    <%= f.label :password, class:"form_text" %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= f.label :password_confirmation, class:"form_text" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
</div>

  <div class="actions">
    <%= f.submit "Sign up", class: "button alert"%>
  </div>
<% end %>
