
<%= form_for @location do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div>
  <%= f.label :history %>
  <%= f.text_area :history %>
</div>

<div>
  <%= f.label :state %>
  <%= f.text_area :state %>
</div>

<div>
  <%= f.label :town %>
  <%= f.text_area :town %>
</div>

<div>
  <%= f.label :size %>
  <%= f.select(:size, %w[Tiny Small Moderate Big Huge], {prompt: '...'}) %>
</div>

<div>
  <%= f.submit "Update" %>
</div>

<% end %>
