<!DOCTYPE html>
<html>

<br>
<div align="center"> <p class = "banner"> Spooky Spots! </p> </div>
<div align="center"> <p class = "sub_banner"> Share Your Scares </p> </div>
<br>

<div>
  <ul>
    <% @images.each do |image| %>
        <li><%= link_to image_tag(image.image.url), location_path(image.location_id) %></li>
    <% end %>
  </ul>
</div>

<div class="grid">
  <div class="col-2-3">
  <% @locations.each do |location| %>
  <h3><%= link_to location.name, location_path(location.id) %> - <%= location.town %>, <%= location.state %></h3>
  <% end %>
</div>
  <div class="col-1-3">
    <br>
    <div align="right", class="row">
      <div align="right">
        <%= form_tag(locations_path, method: "get") do %>
        <%= text_field_tag(:search, params[:search], placeholder: "Search Locations", class:"form_text") %>
        <%= submit_tag "Search", class: "button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

</html>
