<br>
<div align="center"> <h1> Spooky Spots! </h1> </div>
<div align="center"> <h6> Share Your Scares </h6> </div>
<br>

<div align="right", class="row">
  <div align="right", class="small-4 columns">
    <%= form_tag(locations_path, method: "get") do %>
      <%= text_field_tag(:search, params[:search], placeholder: "Search Locations", class:"form_text") %>
      <%= submit_tag "Search", class: "button" %>
    <% end %>
  </div>
</div>

<br>
<% @locations.each do |location| %>
  <h3><%= link_to location.name, location_path(location.id) %> - <%= location.town %>, <%= location.state %></h3>
<% end %>
