<!DOCTYPE html>
<html>

<h1> Create a New Spot </h1>

<% if @location.errors.any? %>
  <br>
  <% @location.errors.full_messages.each do |error| %>
    <%= error %>
    <br>
  <% end %>
  <br>
<% end %>


<%= form_for @location do |f| %>
  <div class="row">
  <div class="large-6 columns">
    <%= f.label :name, class: "form_text" %>
    <%= f.text_field :name, :placeholder => "Give a good spooky name to your discovered spot." %>
  </div>
</div>

<div>
  <%= f.label :description, class:"form_text" %>
  <%= f.text_area :description, :placeholder => "What's at the spot?  What is there to explore and see?  Any good scares?" %>
</div>

<div>
  <%= f.label :history, class:"form_text" %>
  <%= f.text_area :history, :placeholder => "Know any history about the spot?  If not leave as Unknown." %>
</div>

<div class="grid">

  <div class="map-1">
      <%= f.label :state, class:"form_text" %>
      <%= f.select :state, %w[AL MT AK NE AZ NV AR NH CA NJ CO NM CT NY DE NC FL ND GA OH HI OK ID OR IL PA IN RI IA SC KS SD KY TN LA TX ME UT MD VT MA VA MI WA MN WV MS WI MO WY]%>
  </div>

  <div class="map-2">
    <%= f.label :town, class:"form_text" %>
    <%= f.text_area :town %>
  </div>

  <div class="map-3">
    <%= f.label :street, class: "form_text" %>
    <%= f.text_area :street, :placeholder => "If applicable" %>
  </div>

  <div>&nbsp;</div>

  <div class="lat_long-1">
    <%= f.label "latitude", class: "form_text" %>
    <%= f.text_area :latitude, :placeholder => ""  %>
    <h6>Leave blank if unknown</h6>
  </div>

  <div class="lat_long-2">
    <%= f.label "longitude", class: "form_text" %>
    <%= f.text_area :longitude, :placeholder => ""  %>
    <h6>Leave blank if unknown</h6>
  </div>

</div>

<div class="row">
  <div class="small-2 columns">
    <%= f.label :size, class: "form_text" %>
    <%= f.select(:size, %w[Tiny Small Moderate Big Huge]) %>
  </div>
</div>

<div class="row">
  <div class="small-2 columns">
    <%= f.label :private_land, class: "form_text" %>
    <%= f.select(:private_land, ["Unknown", "Yes", "No"]) %>
  </div>
</div>

<div class="row">
  <div class="small-2 columns">
  <%= f.label :in_use, class: "form_text" %>
  <%= f.select(:in_use, ["Unknown", "Yes", "No"]) %>
  </div>
</div>
<div>&nbsp;</div>

<div>
  <%= f.submit "Submit", class: "button alert expand" %>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<% end %>

</html>
