<%= form_for @location do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div>
  <%= f.label :town %>
  <%= f.text_field :town %>
</div>
<div>
  <%= f.label :state %>
  <%= f.text_field :state %>
</div>
<div>
  <%= f.label :street %>
  <%= f.text_field :street %>
</div>
<div>
  <%= f.label :size %>
  <%= f.text_field :size %>
</div>
<div>
  <%= f.label :history %>
  <%= f.text_field :history %>
</div>
<div>
  <%= f.label :private_land %>
  <%= f.text_field :private_land %>
</div>
<div>
  <%= f.label :in_use %>
  <%= f.text_field :in_use %>
</div>
<div>
  <%= f.label :latitude %>
  <%= f.text_field :latitude %>
</div>
<div>
  <%= f.label :longitude %>
  <%= f.text_field :longitude %>
</div>

<div>
  <%= f.submit "Submit" %>
</div>

<% end %>
