<h1><%= @location.name %></h1>

<div>&nbsp;</div>

<h2><%= @location.description %></h2>
<p>State: <%= @location.state %></p>
<p>Town: <%= @location.town %></p>
<p>Street:<%= @location.street %></p>
<p>Size: <%= @location.size %></p>
<p>History: <%= @location.history %></p>
<p><%= @location.private_land %></p>
<p><%= @location.in_use %></p>

<div>&nbsp;</div>

<div>
  <% @location.location_images.each do |location_image| %>
  <%= image_tag(location_image.image.url, alt: location_image.description) %>
  <%= location_image.description %>
  <% end %>
</div>

<div>&nbsp;</div>

<div>Upload a photo of <%= @location.name %></div>
<%= form_for [@location, @image] do |f| %>
<div>
  <%= f.label :image, "Image" %>
  <%= f.file_field :image %>
</div>
<div>
  <%= f.label :description, "Image Description" %>
  <%= f.text_field :description %>
</div>
<%= f.hidden_field :location_id, value: @location.id %>
<%= f.submit "Add photo", class: "ui submit button" %>
<% end %>
</div>

<div>&nbsp;</div>

<% if @user && (@user == @location.user || @user.role == "admin") %>
  <% if @user.role == "admin" %>
    <%= button_to "Endorse Location",
    method: :edit,
    action: :update,
    data: true %>
  <% else %>
  <% end %>

  <div>&nbsp;</div>

  <%= link_to "Edit this Location", edit_location_path(@location) %>
  <%= button_to "Delete Location",
  location_path(@location),
  method: :delete,
  action: :destroy,
  data: { confirm: "Are you sure you want to delete this review?" }%>
  <% else %>
<% end %>

<div>&nbsp;</div>

<%= link_to "Review this Location", new_location_review_path(@location) %>

<div>&nbsp;</div>

<h4> REVIEWS: </h4>
<ul>
  <% @reviews.each do |review| %>
  <li>
    <div> <%= review.description %></div>
    <div> Spookiness: <%= review.spo_rating %></div>
    <div> Scenery: <%= review.sce_rating %></div>
    <div> Exploration: <%= review.exp_rating %></div>
    <div>&nbsp;</div>
    <% if @user && (@user == review.user || @user.role == "admin") %>
      <%= link_to "Edit this review", edit_location_review_path(@location, review) %>
      <%= button_to "Delete",
      location_review_path(@location, review),
      method: :delete,
      action: :destroy,
      data: { confirm: "Are you sure you want to delete this review?" }%>
    <% else %>
    <% end %>
  </li>
  <% end %>
</ul>
